
body {
  background-color: rgb(31, 13, 116);
}

.box {
    background-color: white;
    width: 500px;
    height: 500px;
    margin: 20px;
    padding: 20px;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .box {
    background-color: white;
    width: 400px;
    height: 400px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
