body {
  background-color: black;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.box {
  background-color: white;
  height: 900px;
  width: 615px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1, h3 {
    color: black;
    text-align: justify;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.back-btn {
  margin-right: 30%;
}

.buttons {
  position: fixed;
  bottom: 10px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.back-btn {
  margin-right: 30px;
}